footer {
    background-color: var(--header-color);
    height: 100%;
    width: 100%;
    color: white;
    margin: 0;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: white;
}