header {
    box-sizing: border-box;
    font-family: sans-serif;
    height: 100%;
    background-color: var(--header-color);
    color: white;
    margin: 0;
    padding-left: .5rem;
    grid-area: header;
}